h2 {
    color: #c2c2c2 ;
    font-style: normal ;
    text-align: center ;
}
p {
    color: #c2c2c2 ;
    font-style: normal ;
    padding-left: 375px ;
}
body {
    background-color: rgb(42, 42, 42);
}